<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#index-Overview">Overview</a>
                </li>
                <li>
                    <a href="#index-Install">Installation</a>
                    <ul class="nav">
                        <li>
                            <a href="#index-Install-Deps">Dependencies</a>
                        </li>
                        <li>
                            <a href="#index-Install-Download">Download</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="index-Overview">Overview</h1>
            </div>
        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="index-Install">Installation</h1>
            </div>
            <h3 id="index-Install-Deps">Dependencies</h3>
            <h5>Debian / Ubuntu</h5>
<pre class="well well-small"><code class="bash">$ apt-get install mysql-server php5 php5-mysql</code></pre>
            <h3 id="index-Install-Download">Download</h3>
<pre class="well well-small"><code class="bash">$ git clone git@github.com:fulleron/fulleron.git</code></pre>
        </div>
    </div>
</div>
