<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#ctrl-Overview">Overview</a>
                </li>
                <li>
                    <a href="#ctrl-Request">Request</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Request-Methods">Methods</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#ctrl-Response">Response</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Response-Methods">Methods</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#ctrl-Routing">Routing</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Routing-Declaration">Declaration</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#ctrl-Action">Action Controllers</a>
                    <ul class="nav">
                        <li>
                            <a href="#ctrl-Action-Declaration">Declaration</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="ctrl-Overview">Overview</h1>
            </div>
        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="ctrl-Request">Request</h1>
            </div>

            <h3 id="ctrl-Request-Methods">Request Methods</h3>

        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="ctrl-Response">Response</h1>
            </div>

            <h3 id="ctrl-Response-Methods">Response Methods</h3>

        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="ctrl-Routing">Routing</h1>
            </div>

            <h3 id="ctrl-Routing-Declaration">Routing Declaration</h3>

        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="ctrl-Action">Action Controllers</h1>
            </div>

            <h3 id="ctrl-Action-Methods">Methods</h3>

        </div>
    </div>
</div>
