<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#misc-Overview">Overview</a>
                </li>
                <li>
                    <a href="#misc-Data">Data</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Data-Value">Custom Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Debug">Debugging</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Debug-Mode">Run Modes</a>
                        </li>
                        <li>
                            <a href="#misc-Debug-Logging">Logging</a>
                        </li>
                        <li>
                            <a href="#misc-Debug-Profiling">Profiling</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Util">Utilities</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Util-StringTools">String Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-ArrayTools">Array Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-URLTools">URL Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-FileTools">File Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Encryption">Encryption</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Hashing">Hashing</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Logging">Logging</a>
                        </li>
                        <li>
                            <a href="#misc-Util-HTTPClient">HTTP Client</a>
                        </li>
                        <li>
                            <a href="#misc-Util-FTPClient">FTP Client</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Format">Format Conversion</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Other">Other Goodies</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Locale">Localization</a>
                </li>
                <li>
                    <a href="#misc-LoginThrottle">Login Throttling</a>
                </li>
                <li>
                    <a href="#misc-ModelUser">User Model</a>
                </li>
                <li>
                    <a href="#misc-YAML">YAML</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Overview">Overview</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Data">Data</h1>
            </div>

            <h3 id="misc-Data-Value">Custom Value</h3>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Debug">Debugging</h1>
            </div>

            <h3 id="misc-Debug-Mode">Run Modes</h3>

            <h3 id="misc-Debug-Logging">Logging</h3>

            <h3 id="misc-Debug-Profiling">Profiling</h3>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Util">Utilities</h1>
            </div>

            <h3 id="misc-Util-StringTools">String Tools</h3>

            <h3 id="misc-Util-ArrayTools">Array Tools</h3>

            <h3 id="misc-Util-URLTools">URL Tools</h3>

            <h3 id="misc-Util-FileTools">File Tools</h3>

            <h3 id="misc-Util-Encryption">Encryption</h3>

            <h3 id="misc-Util-Hashing">Hashing</h3>

            <h3 id="misc-Util-Logging">Logging</h3>

            <h3 id="misc-Util-HTTPClient">HTTP Client</h3>

            <h3 id="misc-Util-FTPClient">FTP Client</h3>

            <h3 id="misc-Util-Format">Format Conversion</h3>

            <h3 id="misc-Util-Other">Other Goodies</h3>

        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Locale">Localization</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-LoginThrottle">Login Throttling</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-ModelUser">User Model</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-YAML">YAML</h1>
            </div>
        </div>

    </div>
</div>
