<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#module-overview">Overview</a>
                </li>
                <li>
                    <a href="#module-BApp">Application</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-BApp-shortcuts">Shortcuts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#module-Classes">Classes</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Classes-Overriding">Overriding</a>
                        </li>
                        <li>
                            <a href="#module-Classes-Augmenting">Augmenting</a>
                        </li>
                        <li>
                            <a href="#module-Classes-Autoloading">Autoloading</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#module-Config">Configuration</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Config-Set">Setting</a>
                        </li>
                        <li>
                            <a href="#module-Config-Get">Getting</a>
                        </li>
                        <li>
                            <a href="#module-Config-File">Load/Save</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#module-Events">Events</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Events-Trigger">Trigger</a>
                        </li>
                        <li>
                            <a href="#module-Events-Observe">Observe</a>
                        </li>
                        <li>
                            <a href="#module-Events-Manage">Manage</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#module-Session">Session</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Session-Data">Data</a>
                        </li>
                        <li>
                            <a href="#module-Session-Messages">Messages</a>
                        </li>
                        <li>
                            <a href="#module-Session-Security">Security</a>
                        </li>
                        <li>
                            <a href="#module-Session-Handlers">Custom Handlers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="module-overview">Overview</h1>
            </div>
        </div>
    </div>
</div>
