<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#module-overview">Overview</a>
                </li>
                <li>
                    <a href="#module-BApp">Manifest</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-BApp-shortcuts">Areas</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="module-overview">Overview</h1>
            </div>
        </div>
    </div>
</div>
