<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#module-overview">Overview</a>
                </li>
                <li>
                    <a href="#module-Manifest">Manifest</a>
                    <ul class="nav">
                        <li>
                            <a href="#module-Manifest-FileStructure">File Structure</a>
                        </li>
                        <li>
                            <a href="#module-Manifest-Areas">Areas</a>
                        </li>
                        <li>
                            <a href="#module-Manifest-Collecting">Collecting</a>
                        </li>
                        <li>
                            <a href="#module-Manifest-Bootstrapping">Bootstrapping</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#module-Migration">Migration</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="module-overview">Overview</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="module-Manifest">Manifest</h1>
            </div>

            <h3 id="module-Manifest-FileStructure">File Structure</h3>
<pre class="well well-small"><code class="yaml">modules:
.   'Vendor_Module':
.   .   version: '1.0.0'
.   .   description: 'Module Short Description'
.   .   categories: [ 'Catalog', 'Shipping' ]
.   .   require:
.   .   .   module:
.   .   .   .   'Req_Module': '1.0.0'
.   .   .   phpext: [ 'xmlrpc', 'soap' ]
.   .   .   class: [ 'PHPUnit' ]
.   .   before_bootstrap: 'Callback::method'
.   .   auto_use: [ all, bootstrap, layout, views ]
.   .   autoload: 'lib'
.   .   default_config:
.   .   .   'config_tree'
.   .   provides:
.   .   .   themes:
.   .   .   .   'Theme_Name':
.   .   .   .   .   area: 'FCom_Frontend'
.   .   .   .   .   layout: 'layout.yml'      .   .   .   .   [1] Layout file
.   .   override:
.   .   .   class:
.   .   .   .   'Original_Class_Name': 'New_Class_Name'

.   .   areas:
.   .   .   'FCom_(Admin|Frontend|ApiServer|Cron|Test)':
.   .   .   .   'Area specific options'
.   .   .   .   routing:
.   .   .   .   .   - [ '(get|post|any)', '/route/path', 'Controller.action' ]
.   .   .   .   observe:
.   .   .   .   .   - [ 'Event::name', 'Callback::method' ]</code></pre>

            <blockquote>
                <ol>
                    <li><a href="{{ APP.href('fdoc/buckyball/layout#layout-LayoutFile') }}">Layout File</a></li>
                </ol>
            </blockquote>

            <h3 id="module-Manifest-Areas">Areas</h3>

            <h3 id="module-Manifest-Collecting">Collecting</h3>
<pre class="well well-small"><code class="php">// scan in 'modules' subfolder modules in structure of Vendor/Module
BModuleRegistry::i()->scan(__DIR__.'/modules/*/*');

// manually declare a module
BModuleRegistry::i()->addModule('My_Module', $manifestDataArray);
</code></pre>

            <h3 id="module-Manifest-Bootstrapping">Bootstrapping modules</h3>

<pre class="well well-small"><code class="php">// Run bootstrap for the modules (including auto manifest processes and bootstrap methods)
BModuleRegistry::i()->bootstrap();
</code></pre>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="module-Migration">Migration</h1>
            </div>

<pre class="well well-small"><code class="php">// run module migration scripts
BMigrate::i()->migrateModules();
            </code></pre>

<pre class="well well-small"><code class="php"><<i></i>?php

class My_Module_Migrate extends BClass
{
    public function install__0_1_0()
    {
        //... DDL statements for installation
    }

    public function upgrade__0_1_0__0_1_1()
    {
        //... DDL statements for upgrade
    }
}
</code></pre>
        </div>
    </div>
</div>
