<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#plugins-Overview">Overview</a>
                </li>
                <li>
                    <a href="#plugins-BGanon">BGanon</a>
                </li>
                <li>
                    <a href="#plugins-BHAML">BHAML</a>
                </li>
                <li>
                    <a href="#plugins-BMarkdown">BMarkdown</a>
                </li>
                <li>
                    <a href="#plugins-BPHPTAL">BPHPTAL</a>
                </li>
                <li>
                    <a href="#plugins-BReCaptcha">BReCaptcha</a>
                </li>
                <li>
                    <a href="#plugins-BTwig">BTwig</a>
                </li>
                <li>
                    <a href="#plugins-BUI">BUI</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-Overview">Overview</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BGanon">BGanon</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BHAML">BHAML</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BMarkdown">BMarkdown</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BPHPTAL">BPHPTAL</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BReCaptcha">BReCaptcha</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BTwig">BTwig</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="plugins-BUI">BUI</h1>
            </div>

<pre class="well well-small"><code class="php">

</code></pre>

        </div>
    </div>
</div>
